h1(class="info__header") #{name}
div(class="info__details")
  div(class="info__details-item")
    h3 Hometown
    p1 #{hometown}
  div(class="info__sprite")
    h3 Original Sprite
    img(src=imgSrc alt=name)
  div(class="info__details-item")
    h3 Default Weapon
    p1 #{weapon}
